.delete-button {
  background: transparent;
  padding: 0;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:focus,
.delete-button:active {
  background: transparent;
}

.delete-button-icon {
  width: 16px;
  height: 16px;
  transition: fill .3s;
}

.delete-button-icon:hover {
  fill: #e80000;
}